.footer2 {
  position: relative;
  top: 10rem;
  background-color: #f4f4f6;
  color: #888;
}
.document {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  position: relative;
  left: 10rem;
  width: 1188px;
}

.col-1 {
  padding: 40px;
  width: 256px;
  font-size: 12px;
}
.Headings {
  color: #606060;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  width: 300px;
  margin: 0 0 5px;
}
.col-2 {
  padding: 40px;
  width: 256px;
  font-size: 12px;
}
.col-3 {
  padding: 40px;
  width: 256px;
  font-size: 12px;
}
.col-4 {
  padding: 40px;
  width: 256px;
  font-size: 12px;
}
